/* Dark Background */
body {
    background: #111;
    color: white;
    font-family: Poppins, sans-serif;
}

/* HERO SECTION FIX */
.hero {
    background: url("Hero image.jpg") center/cover;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Product Section */
.products {
    padding: 40px 5%;
}

.products h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

/* Product Grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

/* Product Card Style */
.product-card {
    background: #1b1b1b;
    padding: 20px;
    border-radius: 18px;
    text-align: center;
    transition: 0.3s ease;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.4);
}

.product-card:hover {
    transform: scale(1.05);
}

/* Product Images */
.product-card img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 15px;
}

/* Product Name */
.product-card h3 {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 700;
}

/* Price */
.price {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #ccc;
}
